body {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #0f1011;
  color: rgb(255, 255, 255);
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(163, 163, 186);
  text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

/* Hide corner white button */
::-webkit-scrollbar-corner{
  opacity:0%;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #5b5a5a; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color:rgb(108, 57, 57); 
  opacity: 20%;
}

.profile-pic {
  float: left;
  height: 75px;
  background-color: rgb(108, 57, 57);
  border-radius: 300px;
  margin-right: 10px;
  animation: fadeIn 1s;
}

.main-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.section {
  background-color: #141516;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  border: solid #5b5a5a;
}

.section.main {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 65vh;
  max-height: 65vh;
  overflow: scroll;
}

.card {
  float: none;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  border-bottom: solid #5b5a5a;
  padding-bottom: 40px;
}

.card-img {
  margin-right: 20px;
  float: left;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  user-select: none;
}

.blog-link {
  text-decoration: none;
}

.blog-link:hover {
  color: rgb(163, 163, 186);
  text-decoration: underline;
}

.date {
  font-style: italic;
}

.nav {
  margin-bottom: 50px;
}

.nav-item {
  cursor: pointer;
  padding: 5px 5px 5px 5px;
  float: left;
  margin-left: 1px;
  list-style-type: none;
  user-select: none;
}

.nav-selected {
  background-color: rgb(108, 57, 57);;
  border-radius: 10px;
  transition:background-color 0.5s ease;
}

.blog-item{
  list-style-type: none;
  margin-bottom:10px;
}

.visible{
  opacity:100%;
  transition: opacity .6s ease;
}

.hidden {
  opacity: 0;
  transition: opacity .6s ease;
  pointer-events: none;
}

.blog-content{
  animation: fadeIn 1s;
}

.date {
  opacity:60%;
  font-style: italic;
  font-size:smaller;
}

.badge-icon{
  margin-left:10px;
  margin-right:10px;
  float:left;
  color: rgb(108, 57, 57);
}

/* Not used */
.badge-image{
  height:50px;
  width:50px;
  float:left;
  border-radius: 10px;
  margin: 0px 10px 0px 10px;
}

.badge{
  animation: fadeIn 2.0s;
  align-content: center;
  float:left;
  min-width:250px;
  max-width:300px;
  min-height:80px;
  background-color: rgb(32, 30, 30);
  border-radius:15px;
  box-shadow: 0 1px 1px #585757 inset;
  margin: 10px 10px 10px 10px;
  user-select: none;
}

.badge-text{

}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}