body {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #0f1011;
  color: rgb(255, 255, 255);
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(163, 163, 186);
  text-decoration: underline;
}

.profile-pic {
  float: left;
  height: 75px;
  background-color: rgb(108, 57, 57);
  border-radius: 300px;
  margin-right: 10px;
}

.main-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.section {
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  border: solid #5b5a5a;
}

.section.main {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 65vh;
  max-height: 65vh;
  overflow: scroll;
}

.card {
  float: none;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  border-bottom: solid #5b5a5a;
  padding-bottom: 40px;
}

.card-img {
  margin-right: 20px;
  float: left;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.blog-link {
  text-decoration: none;
}

.blog-link:hover {
  color: rgb(163, 163, 186);
  text-decoration: underline;
}

.date {
  font-style: italic;
}

.nav {
  margin-bottom: 50px;
}

.navItem {
  cursor: pointer;
  padding-left:10px;
  padding-right:10px;
  float: left;
  margin-left: 1px;
  list-style-type: none;
}

.navSelected {
  background-color: rgb(67, 67, 69);
  border-radius: 10px;
  transition:background-color 0.5s ease;
}

.hidden {
  opacity: 0;
  transition: opacity .5s ease;
}
